#backtotop {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: rgb(31, 18, 105);
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  color: white;
  font-size: 1.5rem;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(31, 18, 105);
}

#backtotop.show:hover {
  background-color: rgb(57, 32, 197);
}
